<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>
        msg: <span th:text="${msg}"></span>
        <br>
        Hello
        <br>
        Hello2
        <br>
        <span th:text="${user.getName().toUpperCase()}"></span>
        <span th:text="${user.friend.name}"></span>

    </h1>

    <br>
    <span th:text="'<font color=\'red\'>hello</font>'"></span>
    <span th:utext="'<font color=\'red\'>hello</font>'"></span>

    <br>
    <span th:text="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"></span>

    <br>
    <span th:text="100 * 200"></span>
    <span th:text="100 + 200"></span>

    <br>
    <ul>
        <li th:each="user : ${users}">
            <span th:text="${user.name}"></span>
            <span th:text="${user.age}"></span>
        </li>
    </ul>

<script th:inline="javascript">
    const users = /*[[${users}]]*/[];

    const user = users[0];
    console.log(users.length);

    for(let i in users){
        console.log(users[i]);
    }
</script>
</body>
</html>